/* Brand Colors */
$primary:#febd68;
$primary-2:#4A8B25;
$secondary-1:#707070;
$secondary-2:#0D87C5;
$secondary-3:#EFF6F9;
$success:#4A8B25;

/* Status colors */

$prepaid:#12AED8;
$breakdown:#5879D4;
$postpaid:#AF57E1;
$completed:#393983;
$approved:#31AA4A;
$approved-not-paid:#00BDA3;
$order-in-progress:#83B549;
$evaluating:#BDAED1;
$pending:#FFA400;
$expired:#FF5E00;
$rejected:#C91212;
$cancel-in-progress:#751CAF;
$cancelled:#924E19;

/* Color of form labels*/

$label:#848484;
$form-fill-color:#EFF6F9;

