.icon-title{
    font-weight:500;
}
#app {
    font-family: 'Poppins', sans-serif;
  }
  html{
      overflow-y:auto !important;
  }
  .text-center{
      text-align: center;
  }
  *{
    text-transform: none !important;
    }
    .main-card{
        background: $border;
        border-radius:10px;
    }
    .review-card-item{
      
        padding:10px 0px 10px 0px;
    }
    .b-right-0{
        border-right:0px !important;
    }
.top-card{
    border:1px solid $border;
    width:100%;
    height:100px;
    margin-top:10px;
    margin-left:-25px;
    border-left:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.top-card-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    border-radius: 10px;
    padding:20px;
}
.top-card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.review-row{
    border-bottom:1px solid #eeeeee;
}
.sub-text{
    font-size:12px;
    color:$secondary;
}
.linear-progress-label{
    float:right;
    color:#808080;
    font-size:14px;
}
.sort-options{
    border: 1px solid $secondary;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor:pointer;
    
}
.sort-options-active{
    border: 1px solid $secondary;
    background: $primary;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor:pointer;
}
.dropdown-menu{
    padding:20px;
    background:#ffffff;
    max-width:500px;
}
.mt-pt-0{
    margin-top:0px !important;
    padding-top:0px !important;
}
.summary-card{
    display: flex;
}
.summary-items{
    margin-left:25px;
    .last-item{
        border-right:none;
    }
}
.summary-item{
    border-right:1px solid $border;
}
.avg-rating-content{
    font-size:12px;
    color:$secondary;
    top:30px;
    position:absolute
}
.avg-rating{
    z-index:2px;
}
.alert-msg{
    padding:5px !important;
    
}
.date-range-picker{
    background:#ffffff;
}
.date-picker-btn{
    background:#ffffff;
    text-align: center;
  padding-bottom:10px
}
.mh-65{
    max-height:65px;
}
.lottie-anime{
    width: 400px; 
    height: 400px; 
    max-width: 100%
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .lottie-anime{
        width: 200px; 
        height: 200px; 
        max-width: 100%;
        margin: auto;
    }
    .summary-card{
        display: block;
    }
    .summary-items{
        margin-left:0px;
        .last-item{
            border-right:1px solid $border;
        }
        
    }
    .top-card {
        margin-left: 0px;
        border:none;
    }
    .top-labels{
        min-height: 500px;
    }
    .review-card-item {
        border: 1px solid $border;
        padding:5px;
        border-radius:5px
    }
    .summary-item{
        border-right:none;
    }
    .avg-rating{
        text-align: center;
    }
   
    
}